img{
	width: 30%;
	float: left;
	margin: 1.66%;
}

h1{
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid red;
	width: 25%;
	padding-bottom: 5px;
}